@{
    ViewBag.Title = "Contact";
}

<br/><br/>
<h2 style="padding-bottom:2em">Thanks for your email!</h2>

<div class="row">

    <div class="col-md-6">
        <address>
            <strong>Developer: Madlen Stoycheva</strong><br /> <br />
            <strong>Facebook:</strong><a href="https://www.facebook.com/madinka.stoicheva"> Madlen Stoycheva</a><br /> <br />
            <strong>GitHub:</strong><a href="https://github.com/MadlenStoicheva"> MadlenStoicheva</a><br /> <br />
            <strong>E-mail:</strong><a href="mailto:madlen.stoicheva@gmail.com"> madlen.stoicheva@gmail.com</a><br /> <br />
            <strong>Support:</strong> <a href="mailto:madlen_stoicheva@abv.bg"> madlen_stoicheva@abv.bg</a> <br /> <br />

            <strong>Plovdiv University, Plovdiv</strong><br />
        </address>
    </div>

    <div>
        <br /><img src="https://avatars3.githubusercontent.com/u/23435058?s=400&v=4" width="200px" height="200px" /> <br /> <br />
    </div>
</div>
