
@{
    ViewBag.Title = "Error";
}

<br /><br />
<h2>This Email is already Taken! Please try again! -> @Html.ActionLink("Click here to Register", "Register", "Users", routeValues: null, htmlAttributes: new { id = "loginLink" })</h2>



